:root {
  --corTime1: #3F51B5;
  --corTime2: #F44336;
  --corPrincipal: #2196F3;
}

* {
	margin: 0;
    border: 0;
    padding: 0;
    font-family: quicksand;
}

*:focus {
	outline: none;
}

/* ====================== */
/*          FEED          */
/* ====================== */

#feed {
	position: fixed;
    opacity: .5;
    font-size: .9em;
    user-select: none;
    cursor: default;
    /*opacity: 0;*/
    display: none;
}

#feed ul {
	list-style: none;
	overflow: hidden;
	max-height: 200px;
}

#feed li {
    margin-left: 10px;
    margin-top: 5px;
}

#feed li span {
	font-weight: bold;
}

#feed li .time1 {
	color: var(--corTime1)
}

#feed li .time2 {
	color: var(--corTime2)
}

/* ====================== */
/*         BARRA XP       */
/* ====================== */

#xp {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 250px;
    margin: auto;
    background: rgba(0,0,0,.15);
    border-radius: 3px;
    color: white;
    font-size: .8em;
    user-select: none;
    cursor: default;
    /*opacity: 0;*/
    display: none;
}

#xp .container {
    display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

#xp .label {
	position: relative;
	z-index: 2;
	padding: 5px 8px;
}

#xp .barra {
	position: absolute;
	z-index: 1;
    background: #00A8FF;
    border-radius: 3px;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
}

#xp .qtd {
	position: relative;
	z-index: 2;
	margin-right: 8px;
}

.transition {
	transition: .3s ease;
}

/* ====================== */
/*        UPGRADES        */
/* ====================== */

#upgrades {
	position: fixed;
	left: -220px;
	bottom: 10px;
}

#upgrades.aberto {
	left: 10px;
}

#upgrades ul {
	list-style: none;
}

#upgrades ul li {
	font-size: .9em;
    margin-bottom: 7px;
    background: rgba(0,0,0,.2);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    width: 150px;
    position: relative;
	font-weight: bold;
}

#upgrades ul li span {

}

#upgrades ul li button {
	position: absolute;
    top: 0;
    left: 105%;
    margin: 0;
    width: 30px;
    padding: 5px;
    font-size: 1em;
}

/* ====================== */
/*         INICIO         */
/* ====================== */

#inicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: flex;
    /*display: none;*/
    align-items: center;
    justify-content: flex-end;
}

#entrar-container {
    height: 370px;
	background: white;
	width: 400px;
	overflow: hidden;
	border-radius: 3px 0 0 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    position: relative;
}

#entrar-container > div {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    /*position: absolute;*/
    top: 0;
    /*left: 0;*/
}

#entrar-container > span {
	position: absolute;
	bottom: 30px;
	font-size: .8em;
	opacity: .6;
	cursor: pointer;
}

#entrar-container > span:hover {
	opacity: 1;
}

#entrar-container > span i {
	
}

#entrar-container > span b {
	font-weight: normal;
}

#entrar-container > span#voltar {
	left: 30px;
	display: none;
}

#entrar-container > span#proximo {
	right: 30px;
}

#entrar-container h2 {
	font-size: 1.2em;
	margin-bottom: 25px;
	color: var(--corPrincipal);
}

.input {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.input.metade, .botao.metade {
	width: 49.36%;
    display: inline-flex;
}

.input label {
	font-size: .7em;
    /*font-weight: bold;*/
    color: #666;
    margin-bottom: 7px;
}

.input input {
    width: 100%;
    border-radius: 3px;
    background: #ddd;
    opacity: .7; 
    padding: 10px;
}

.input input:focus {
	background: white;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	opacity: 1 !important;
}

.botao {
	background: var(--corPrincipal);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.botao:disabled {
    background: rgba(0,0,0,.2);
}

.botao:focus, .botao:hover {
	box-shadow: inset 0 -100px 0 rgba(0,0,0,.2);
}

.azul {
	background: var(--corPrincipal) !important;
}

.azul .input label, .azul h2, .azul > span {
	color: white  !important;
}

.azul .input input {
    background: white;
}

.azul .botao {
	background: white;
	color: var(--corPrincipal);
}

#login #esqueci {
	float: right;
    font-size: .8em;
    text-decoration: none;
    color: black;
    opacity: .6;
    cursor: pointer;
}

#sem-login {
	left: 0;
}

#login {
	left: 110%;
	opacity: 0;
	display: none;
}

#cadastro {
	left: 110%;
	opacity: 0;
	display: none;
}

/* ====================== */
/*          PLACAR        */
/* ====================== */

#placar {
	width: 200px;
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	/*background: rgba(0,0,0,.15);*/
    border-radius: 3px;
    /*overflow: hidden;*/
    height: 10px;
	background: var(--corTime2);
	opacity: .5;
	display: none;
}

#placar .barra {
	width: 50%;
	height: 100%;
}

#placar .barra.time1 {
	background: var(--corTime1);
	border-radius: 3px 0 0 3px;
}

#placar .barra.time2 {
	border-radius: 0 3px 3px 0;
	display: none;
}

#placar .pontos {
	position: absolute;
	font-size: .7em;
	font-weight: bold;
	bottom: 0;
}

#placar .pontos.time1 {
	color: var(--corTime1);
	right: 105%;
}

#placar .pontos.time2 {
	color: var(--corTime2);
	left: 105%;
}

#placar .time {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: .8em;
    margin: auto;
    width: 100px;
    text-align: center;
}

/* ======================= */
/*         POPUPS          */
/* ======================= */

.popup {
    position: fixed;
    font-family: Quicksand;
    left: 10px;
    bottom: -200px;
    max-width: 250px;
    transition: .6s ease;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: .85em;
    /*box-shadow: 0 0 5px rgba(0,0,0,.3);*/
    cursor: pointer;
    z-index: 1000;
}

.popup-info {
    /*background: #2d3e4e;*/
    background: #2196F3;
}

.popup-loading {
    color: black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-loading .img-loading {
	flex-shrink: 0;
    margin-right: 20px; 
    width: 20px;
    height: 20px;
}

.popup-erro {
    background: #D9534F;
}

.popup-conf {
    background: #5CB85C;
}